:root {
    --teal: #1abc9c;
    --teal-darker: #16a085;
    --green: #2ecc71;
    --green-darker: #27ae60;
    --blue: #3498db;
    --blue-darker: #2980b9;
    --purple: #9b59b6;
    --purple-darker: #8e44ad;
    --yellow: #f1c40f;
    --yellow-darker: #f39c12;
    --orange: #e67e22;
    --orange-darker: #d35400;
    --red: #e74c3c;
    --red-darker: #c0392b;
    --gray: #95a5a6;
    --gray-darker: #7f8c8d;

    --light: #ecf0f1;
    --light-darker: #bdc3c7;

    --dark: #34495e;
    --dark-darker: #2c3e50;

    --primary: var(--teal);
    --primary-hover: var(--teal-darker);
    --secondary: var(--gray);
    --secondary-hover: var(--gray-darker);
    --success: var(--green);
    --success-hover: var(--green-darker);
    --warning: var(--yellow);
    --warning-hover: var(--yellow-darker);
    --danger: var(--red);
    --danger-hover: var(--red-darker);
    --info: var(--blue);
    --info-hover: var(--blue-darker);

    --border-radius: 13px;
    --shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

html {
    font-size: 13px;
    font-family: 'Quicksand', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #d0dfe4;
}

body * {
    font-family: 'Quicksand', sans-serif;
}

/* !DISPLAY CLASSES */

.display-grid {
    display: grid !important;
}

.grid-col-2 {
    grid-template-columns: auto auto !important;
}

.grid-col-3 {
    grid-template-columns: auto auto auto !important;
}

.grid-col-4 {
    grid-template-columns: auto auto auto auto !important;
}

.grid-col-5 {
    grid-template-columns: auto auto auto auto auto !important;
}

.grid-col-6 {
    grid-template-columns: auto auto auto auto auto auto !important;
}

.grid-g-1 {
    gap: 0.5rem !important;
}

.grid-g-2 {
    gap: 1rem !important;
}

.grid-g-3 {
    gap: 1.5rem !important;
}

.grid-g-4 {
    gap: 2rem !important;
}

.grid-gc-1 {
    column-gap: 0.5rem !important;
}

.grid-gc-2 {
    column-gap: 1rem !important;
}

.grid-gc-3 {
    column-gap: 1.5rem !important;
}

.grid-gc-4 {
    column-gap: 2rem !important;
}

.grid-gr-1 {
    row-gap: 0.5rem !important;
}

.grid-gr-2 {
    row-gap: 1rem !important;
}

.grid-gr-3 {
    row-gap: 1.5rem !important;
}

.grid-gr-4 {
    row-gap: 2rem !important;
}